/**/

body {
  background-color: #092b2a;
  color: #fff;
	font-family: "Open Sans", sans-serif;
}

html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
	 max-width: 100%;
}

/* Header */

header {
  background-color: #092b2a;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
	left: 0;
  z-index: 999;
}

h1{
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

p, ul {
  font-family: "Open Sans Light", sans-serif;
}

p {
  font-size: 15px;
}

ul {
  margin-top: 8px;
  padding-left: 22px;
  list-style-image: url('images/marcador.png');
  line-height: 0px;
}

header .logo img{
  margin-left: 20px;
}

/* Footer */

footer {
  background-color: #213d4d;
  position: fixed;
  bottom: 0;
	left: 0;
  height: 180px;
  width: 100%;
  display: block;
}

#videos {
  background-color: #235643;
  width: 40%;
  padding: 100px 40px;
  float: left;
  position: absolute;
  left: 0px;
  display: inline;
}

#videos .box-conteudo-videos {
  margin-left: 160px;
}

#videos .box-conteudo-videos .grupo-texto {
  width: 430px;
  padding-right: 15px;
  height: 110px;
}

#videos .box-conteudo-videos .grupo-texto ul li {
  color: #e33735;
  font-size: 30px;
  line-height: 12px;
  margin-left: 5px;
  width: 385px;
}

#videos .box-conteudo-videos .grupo-texto ul li span {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

#publicacoes{
  background-color: transparent;
  width: 52%;
  float: right;
  position: absolute;
  right: 0px;
  margin-right: 0px;
  margin-top: 71px;
}

#publicacoes .noticias{
  height: 248px;
}

#publicacoes .grupo-texto-publicacoes {
  width: 520px;
  padding-right: 15px;
  height: 110px;
}

#publicacoes .grupo-texto-publicacoes .box-amarelo {
  height: 16px;
  width: 255px;
  background-color: #fbc605;
  float: right;
  margin-top: 5px;
}

#publicacoes .grupo-texto-publicacoes .titulo-publicacoes {
  display: inline;
}

.noticias .botao-noticias {
  height: 216px;
  width: 130px;
  float: left;
  position: absolute;
  left: 0;
  display: inline;
  text-align: center;
  margin: 50px 0px;
  height: 150px;
}

.noticias .botao-noticias span{
  color: #09a67c;
  font-size: 24px;
  font-weight: 700;
}

#publicacoes .noticias .noticias-texto a {
  float: right;
}

#publicacoes .noticias .noticias-texto h4 {
  margin: 1px;
}

#publicacoes .noticias .noticias-texto span {
  font-size: 11px;
  color: #898586;
}

.noticias .noticias-texto{
  width: 520px;
  float: right;
  position: absolute;
  right: 100px;
  background-color: #fff;
  color: #000;
  padding: 13px;
}

.noticias .botao-noticias button{
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 12px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  width: 130px;
  font-size: 12px;
  border-color: #09a67c;
  border: solid 1px #09a67c;
}

.noticias .noticias-texto p {
  font-size: 13px;
}

#chat {
  background-color: #d5d5d5;
  float: left;
  position: absolute;
  left: 0;
  top: 573px;
  width: 45.3%;
  height: 700px;
}

#chat .box-chat {
  float: right;
  position: absolute;
  right: 30px;
}

#chat .box-chat .texto-chat {
  color: #000;
  font-size: 12px;
  width: 420px;
  background-color: #fff;
  border: solid 1px #cccdcd;
  padding: 10px;
}

.envio-mensagem{
  background-color: #eaeaea;
  border: solid 1px #cccdcd;
  padding: 8px;
}

.envio-mensagem input[type='text'] {
  height: 20px;
  width: 355px;
  border: solid 1px #cccdcd;
  font-family: "Open Sans Light", sans-serif;
  padding-left: 8px;
}

.envio-mensagem button {
  background-color: #09a67c;
  color: #fff;
  height: 23px;
  border: none;
  font-family: "Open Sans Light", sans-serif;
  padding: 0px 10px;
}

.texto-chat {
  overflow-y: scroll;
  height: 200px;
}

.texto-chat span {
  margin-top: 8px;
}

.texto-chat span em {
  font-size: 9px;
  color: #898586;
  font-style: normal;
}

.titulo-box-chat {
  background-color: #00533e;
  width: 410px;
  height: 43px;
  margin-left: 15px;
  -webkit-box-shadow: -1px 3px 8px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: -1px 3px 8px 0px rgba(50, 50, 50, 0.2);
  box-shadow: -1px 3px 8px 0px rgba(50, 50, 50, 0.2);
}

.titulo-box-chat h2 {
  margin-bottom: -10px;
  margin-left: 45px;
  text-transform: uppercase;
  font-size: 18px;
}
